/* responsive */
.sp640,
.sp420,
.sp360,
.sp{display: none;}
.pc {}

@media screen and (min-width: 769px) {
.box_faq_ct dd a{pointer-events: none;}
.box_faq{min-height: 670px}
.box_artist_list ul:nth-child(2){margin:0 0 0 245px;}
.box_ticket_ct .btn a{width: 370px;}

footer .foot_info_list dd p{width: 300px}

/* HOVER */
.box_faq_ct dt:hover,
nav ul li a:hover,
nav ul li.button span a:hover,
footer .foot_tel p a:hover{color: #fff;}

.box_faq_ct dd a:hover,
footer .foot_info_comp p a:hover,
footer .foot_tel ul li a:hover{color: #f00}

.popup_ct .close:hover,
.popup_ct .btn_accept:hover,
.box_intro_btn p a:hover,
.box_ticket_list>li .number span:hover,
footer .foot_info_list dd a:hover{opacity: 0.7}

nav ul li.button>a:hover{background: #f00;}
.box_intro_btn .btn_bd a:hover{opacity: 1;background: #f00;}
.box_ticket_list>li .number .amount:hover{opacity: 1;}

.popup_ct .accept a:hover{text-decoration: none;}

.box_artist_ct{min-height: 815px}
.box_ticket{min-height: 980px}
}

@media screen and (min-width: 769px) and (max-width: 1661px) {
    header{padding: 60px 15px 0}
    header.active{padding: 30px 15px}

    .box_intro_ct{padding: 0 15px;align-items: center}
    .box_intro_btn{padding-left: 0;}
    .box_intro_logo {width: 40%;top: inherit;right: inherit;}
    .box_intro_txt{width: 57%;}
    .box_intro_txt .box_intro_info{padding: 30px 0;margin-left: 0}
    .box_intro_txt .box_intro_info .location_txt{margin-right: 15px}
    

    .box_artist{}
    .artist_logo{margin-top: 50px;padding: 50px 0}

    .box_artist_timeline{width: 510px;}
    .box_artist_timeline h3{font-size: 100px}
    .box_artist_timeline p{font-size: 90px;left: -90px}
    
    .box_ticket{padding: 0 15px;display: flex;align-items: center;justify-content: center;}
    .box_ticket_list > li{width: 45%;margin-right: 80px;padding: 30px 30px 30px 40px}
    .box_ticket_list > li .info{width: 230px;}
    .box_ticket_list > li .price{width: calc(100% - 230px)}
    .box_ticket_list > li .price p .discount{font-size: 42px}
    .box_ticket_list > li .price p .real{font-size: 62px}
    .box_ticket_ct .btn{padding-right: 30px;}

    .box_faq{}
    .box_faq_ct h3{font-size: 42px}
    .box_faq_ct dt{padding-right: 20px}
    .box_faq_ct dt::before{width: 7px;height: 10px;top: 10px}

    footer{padding: 35px 15px 10px}

    .popup_ct{padding: 50px 30px;}
}

@media screen and (max-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd{font-size: 14px;line-height: 1.6em;}



    #wrapper,
    header,
    #main,
    footer,
    .inner{width: 100% !important;min-width: inherit !important;}
    .inner{box-sizing: border-box;padding: 0 15px;}
    .sp{display: block;}
    .pc{display: none;}
    /*---*/


    /*==========================================================================*/
    /*                               ALL                                        */
    /*==========================================================================*/
    header{height: 60px;padding: 0 15px;display: flex;align-items: center;justify-content: center;}
    header.active{padding: 0}
    header h1{}

    nav{opacity: 0;visibility: hidden;pointer-events: none;width: 100%;height: calc(100vh - 60px);position: fixed;top: 60px;right: -300px;transition: all ease 0.3s;background: rgba(0, 0, 0, 0.8)}
    nav.active{opacity: 1;visibility: visible;pointer-events: inherit;right: 0;}
    nav ul{flex-direction: column;justify-content: center;align-items: center;height: 100%;}
    nav ul li{margin: 0 0 30px;}
    nav ul li:last-child{margin-bottom: 0}
    nav ul li>a{font-size: 18px;color: #fff;}
    nav ul li.button>a{width: 290px;margin-bottom: 30px}
    nav ul li.button span{position: relative;bottom: inherit;left: inherit;}
    
    .btn_open{display: flex;}
    .btn a{font-size: 24px;}
    .aos-init{transition-delay: 0s !important}
    /*==========================================================================*/
    /*                               MAIN                                       */
    /*==========================================================================*/
    /* BOX INTRO */
    .box_intro{padding: 0 0 100px}
    .box_intro_ct{padding: 0 15px;flex-direction: column-reverse;justify-content: center;}
    .box_intro_logo{width: 364px;margin:0 auto;top: inherit;right: inherit;}
    .box_intro_txt{width: 100%;}
    .box_intro_txt p{width: 341px;margin: 0 auto}
    .box_intro_txt .name{margin: 0 auto;}
    .box_intro_txt .box_intro_info{margin: 30px auto;}
    .box_intro_txt .box_intro_info .time{justify-content: center;padding: 0}
    .box_intro_txt .box_intro_info .time p{width: auto;font-size: 32px}
    .box_intro_txt .box_intro_info .time .time_name{margin: 0 15px 0 0}
    .box_intro_txt .box_intro_info .time .time_date{margin: 0;letter-spacing: 0.15em;}
    .box_intro_txt .box_intro_info .location{flex-direction: column;justify-content: center;align-items: center;width: 100%;margin-top: 15px}
    .box_intro_txt .box_intro_info p{width: 100%;text-align: center;letter-spacing: 0.05em;}
    .box_intro_txt .box_intro_info p span{letter-spacing: 0.075em;font-size: 20px;}
    .box_intro_txt .box_intro_info .location_txt{margin-bottom: 20px;}
    .box_intro_btn{width: 100%;padding: 0;display: flex;flex-direction: column;align-items: center}
    .box_intro_btn p{width: auto;margin: 0}
    .box_intro_btn p.btn_bd{margin: 15px 0 0;}

    /* BOX ARTIST */
    .box_artist{padding: 80px 0 0;}
    .box_artist_ct::before{height: calc(100% + 200px);top: -200px;}
    .box_artist_ct{flex-direction: column-reverse;padding: 0}
    .artist_timeline{margin-left: 15px}
    .artist_band::before{width: 100vw;height: calc(100vw * 122 / 944);left: -15px;}
    .artist_timeline ul li{font-size: 24px;margin-bottom: 0}
    .artist_timeline ul li span{text-shadow: #fff 1px 0px 0px, #fff 0.540302px 0.841471px 0px, #fff -0.416147px 0.909297px 0px, #fff -0.989992px 0.14112px 0px, #fff -0.653644px -0.756802px 0px, #fff 0.283662px -0.958924px 0px, #fff 0.96017px -0.279415px 0px;}
    .artist_logo{margin-top: 0}
    .artist_logo ul{flex-wrap: wrap;}

    /* BOX TICKET */
    .box_ticket{padding: 100px 15px}
    .box_ticket_ct h3{text-align: center;margin-bottom: 30px;}
    .box_ticket_ct h3 span{font-size: 54px;}
    .box_ticket_list{margin-bottom: 0}
    .box_ticket_list>li{width: 100%;height: auto;margin: 0 0 30px;padding: 30px}
    .box_ticket_list>li .info{display: flex;flex-direction: column;justify-content: center;width: 50%;}
    .box_ticket_list>li .info .name{padding: 0;margin-bottom: 10px;}
    .box_ticket_list>li .price{width: 50%;}
    .box_ticket_list>li .price p .discount{font-size: 36px;margin-bottom: 10px}
    .box_ticket_list>li .price p .discount::before{top: 14px;}
    .box_ticket_list>li .price p .real{font-size: 54px}
    
    /* BOX FAQ */
    .box_faq{padding: 50px 15px;background: url('../images/faq_bg.png') left center /cover no-repeat;}
    .box_faq_ct{flex-direction: column;}
    .box_faq_ct h3{font-size: 6vw;text-align: center}
    .box_faq_ct dt{color: #000;text-shadow: #fff 1px 0px 0px, #fff 0.540302px 0.841471px 0px, #fff -0.416147px 0.909297px 0px, #fff -0.989992px 0.14112px 0px, #fff -0.653644px -0.756802px 0px, #fff 0.283662px -0.958924px 0px, #fff 0.96017px -0.279415px 0px;}
    .box_faq_ct dt::before{background: url('../images/faq_arr_b.png') center /cover no-repeat;}
    .box_faq_ct dd{}
    .box_faq_l{width: 100%;padding: 0;margin-bottom: 15px;}
    .box_faq_r{width: 100%;}

    /* FOOTER */
    footer{padding: 50px 15px;}
    footer .foot_ct{flex-wrap: wrap;}
    footer .foot_info{width: 100%;}
    footer .foot_info_ct{width: 100%}
    footer .foot_info_comp{padding: 0;text-align: center}
    footer .foot_tel{margin:30px 0 0;text-align: center;width: 100%;}
    footer .foot_tel p{text-align: center;margin-bottom: 20px}
    footer .foot_tel ul{justify-content: center;}

    .popup_ct{padding: 50px 30px;max-height: 90%;overflow: auto;}
    .popup_ct::before{width: 60px;height: 97px;}
    .popup_logo{width: 160px;margin: 0 auto 15px}
    .popup_ct .popup_form p{margin-bottom: 10px;padding-bottom: 10px;}
    .popup_ct .popup_form p input{font-size: 12px;}
    .popup_ct .accept label{top: 0}
    .popup_ct::after{display: none;}

    .popup_ct .step_2 p{font-size: 14px;}
    .popup_ct .step_2 .big{font-size: 20px}


}

@media screen and (max-width: 640px) {
   .popup_ct{width: 90%;padding: 30px 15px;}
   .popup_ct .popup_form p{justify-content: flex-start;margin-bottom: 5px;padding-bottom: 5px}
   .popup_ct .popup_form p span{width: 120px;text-align: left;font-size: 14px;padding-right: 0;margin-right: 15px;}
   .popup_ct .popup_form input,
   .popup_ct .popup_form p select{width: calc(100% - 140px)}
   .popup_ct .btn_accept{height: 45px;}

    
}

@media screen and (max-width: 480px) {
    header h1{width: 160px}
    .box_intro_btn{flex-direction: column;align-items: center;}
    .box_intro_btn p{margin: 0 0 15px}
    .box_intro_btn p:last-child{margin-bottom: 0}

    .box_intro_txt .box_intro_info .time p{font-size: 24px;}
    .box_intro_txt .box_intro_info p span{font-size: }

    .box_artist{}
    .box_artist_list{width: 100%;}

    .box_ticket_list>li{flex-wrap: wrap;justify-content: center;flex-direction: column;padding: 30px 15px;}
    .box_ticket_list>li .info{width: 100%;height: auto;border:none;border-bottom: 1px solid #fff;margin-bottom: 30px;padding-bottom: 15px;}
    .box_ticket_list>li .price{width: 100%;height: auto;padding: 0}

    .box_faq_ct h3{font-size: 7vw;}

    footer .foot_info_list dl{flex-direction: column;margin-bottom: 20px}
    footer .foot_info_list dd{width: 100%;margin-top: 20px;flex-wrap: wrap;}
    footer .foot_info_list dd a{margin: 0 15px 20px 0}
    footer .foot_info_list dd a:last-child{margin-right: 0}

    .popup_ct::before{width: 60px;height: 98px}
    .popup_ct .step_2 .big{font-size: 18px}
    .popup_ct .step_2 .big img{width: 21px;}

    footer .foot_tel p a{font-size: 40px;margin-top: 10px;}

}

@media screen and (max-width: 420px) {
    .popup_ct .popup_form p span{width: 110px;margin-right: 10px;}
    .popup_ct .popup_form p select{padding: 10px 5px;font-size: 12px;}
    .popup_ct .accept{font-size: 3vw}

    .artist_timeline ul li{font-size: 20px}

    .sp420{display: block}
}

@media screen and (max-width: 380px) {
    .btn{padding: 0;width: 100%;box-sizing: border-box}

}

@media screen and (max-width: 360px) {
    .box_intro_txt{width: 100%}

}


/* IPHONE 6-7-8 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .box_intro_txt .box_intro_info .time .time_name{color: #fff;text-shadow: none;}
    .box_faq_ct dt{color: #fff;text-shadow: none;}
}


/* IPHONE X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .box_intro_txt .box_intro_info .time .time_name{color: #fff;text-shadow: none;}
    .box_faq_ct dt{color: #fff;text-shadow: none;}
}

/* SAMSUNG S8 */
@media screen 
  and (device-width: 360px) 
  and (device-height: 740px) 
  and (-webkit-device-pixel-ratio: 4) {
    
}